body {
margin: 0;
}
a {
	color: #006600;
	text-decoration: none;
}
a:hover {
	color: #333333;
}
#pagina {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background:url(../img/fundo.jpg) repeat-x;
	font-size:75%;
}
#conteudo {
	width: 790px;
	margin: 20px 10px;
}
#form1 {
	width:510px;
}
#topo {
	height:80px;
	background:url(../img/topo.jpg) no-repeat;
}
#busca {
	margin-left:10px;
	color:#FFFFFF;
	height:30px;
	line-height:200%;
	width: 790px;
	}
#busca .data {
	float:left;
	text-align: right;
}
#formBusca {
	float:right;
	text-align: right;
	display: block;
	margin: 0;
}
#formBusca label {
	display: inline;
	margin:0;
	font-family:"Trebuchet MS", Arial;
	font-size:.9em;
}
#formBusca input {
	margin-left:5px;
	height:18px;
	display: inline;
	border: 1px solid #000;
	vertical-align: middle;
}
#formBusca .submit {
	display: inline;
	margin-left:2px;
	height:22px;
	background: #009900;
	color: #fff;
	border: 1px solid #000;
	vertical-align: middle;
}
#menu{
	width: 790px;
	}
#menuTop {
	font-family:"Trebuchet MS", Arial;
	font-size: .9em;
	height: 30px;
}
#menuTop .esquerda {
	width:550px;
	float:left;
}
#menuTop .direita {
	float:right;
}
#menuTop .direita ul {
	margin:0;
	padding: 0;
}
#menuTop .direita li {
	margin:0;
	display: block;
	float: left;
	margin-left:10px
}
#menuTop .direita .aluno {
	text-indent: -9999px;
	width: 40px;
	height: 30px;
	display: block;
	background:url(../img/btaluno.gif) top;
}
#menuTop .aluno:hover {
	background-position:0% -30px;
}
#menuTop .direita .comunidade {
	text-indent: -9999px;
	width: 40px;
	height: 30px;
	display: block;
	background:url(../img/btcomunidade.gif) top;
}
#menuTop .comunidade:hover {
	background-position:0% -30px;
}
#menuTop .direita .educador {
	text-indent: -9999px;
	width: 40px;
	height: 30px;
	display: block;
	background:url(../img/bteducador.gif) top;
}
#menuTop .educador:hover {
	background-position:0% -30px;
}
#menuTop .esquerda li {
	border-right:1px solid #fff;
	margin-right:10px;
	padding-right:10px;
	display: block;
	float: left;
}
#menuTop .esquerda li a {
	color:#fff;
	text-decoration:none;
}
#menuTop .esquerda li a:hover {
	text-decoration:underline;
}
#menuTop .esquerda ul {
	text-transform:uppercase;
	margin:5px 0px 0px 10px;
	padding:0;
}
#conteudo {
	clear:both;
}
#rodape {
	border-top:10px solid #9CC251;
	padding:10px 0px 0px 30px;
	background:url(../img/fundorodape.jpg) repeat-x;
	margin:0;
	font-size:.9em;
	font-family:"Trebuchet MS", Arial;
	color:#2B2B04;
	height:110px;
}
#rodape li {
	border-right:1px solid #555;
	margin-right:10px;
	padding-right:10px;
	display: block;
	float: left;
}
.ultimo {
	border-right:none!important;
}
#rodape li a {
	color:#2B2B04;
	text-decoration:none;
}
#rodape li a:hover {
	color:#2B2B04;
	text-decoration:underline;
}
#rodape ul {
	margin: 0px;
	padding: 0;
	list-style: none;
}
#rodape p {
	clear:both;
	margin:0px;
}
.clear {
	clear:both;
}
#menuMiddle {
	height: 10px;
}
/*- Menu Tabs F--------------------------- */
#menuBottom {
	height: 50px;
	margin:0;
	padding:0;
	font-size: .8em;
}
#menuBottom ul {
	padding:0;
	margin: 10px 0 0 10px;
	_margin: 5px 0 0 10px;
	list-style:none;
}
#menuBottom li {
	display:block;
	float:left;
	margin: 0 10px 0 0;
	padding:0;
	height: 40px;
}
#menuBottom a {
	display:block;
	width: 87px;
	height: 40px;
	background:url("../img/menu.jpg") no-repeat top;
	margin: 0;
	padding: 0;
	text-decoration:none;
	text-align: center;
	font-weight: bold;
	color: #00260D;
}
#menuBottom a span {
	display: block;
	margin: auto;
	padding: 5px;
	cursor: pointer;
}
#menuBottom a.selected {
	background-position:0% -80px;
}
#menuBottom a:hover {
	color:#fff;
	background-position:0% -40px;
}
/*---------------------------- */
.texto {
	margin-left: 20px;
	width: 448px;
	border: #006600 solid 1px;
}
#regional {
	margin-left:20px;
	background-color:#9CC251;
}
#regional .topo {
	margin-top:20px;
	height:18px;
	background:url(../img/regionaltopo.jpg) no-repeat top;
}
#regional .base {
	height:18px;
	background:url(../img/regionalbase.jpg) no-repeat top;
}
#instituicao {
	margin-left:20px;
	background:#C6DC98;
}
#instituicao .topo {
	margin-top:8px;
	height:18px;
	background:url(../img/tipotopo.jpg) no-repeat top;
}
#instituicao .base {
	height:18px;
	background: url(../img/tipobase.jpg) no-repeat top;
}
#opcoes {
	margin-left:20px;
	background:#EBF3DB;
}
#opcoes .topo {
	margin-top:8px;
	height:18px;
	background:url(../img/etapastopo.jpg) no-repeat top;
}
#opcoes .base {
	height:18px;
	background:url(../img/etapasbase.jpg) no-repeat top;
}
#botao {
	text-align: right;
}
#pesquisar {
	margin-top: 20px;
	width: 140px;
	height: 40px;
	background: url(../img/btpesquisar.jpg) no-repeat top;
	border: none;
	color: #fff;
	font-weight: bold;
	font-size: 1.2em;
	cursor: pointer;
}
#pesquisar:hover {
	background: url(../img/btpesquisar.jpg) no-repeat bottom;
}
label {
	cursor:pointer;
}
#resultado {
	margin:20px;
}
#resultado li {
	font-weight:bold;
	list-style:none;
	line-height: 160%;
}
#resultado li li {
	font-weight: normal;
	line-height: 120%;
}
h2 {
	color: #003300;
}
h3 {
	color: #003300;
}
h4 {
	margin:0;
	padding:0 20px 10px 20px;
	color: #003300;
}
dl {
	margin: 0;
}
dt {
	margin: 0;
	padding: 10px 20px 10px 20px;
	color: #003300;
	font-size: 1em;
	font-weight: bold;
}
.pag a, .pag span {
	display: block;
	text-indent: -9999px;
	width: 90px;
	height: 20px;
	float: left;
	margin-right: 10px;
}
.pag .primeira {
	background: url(../img/bt-primeira.jpg) top;
}
.pag .primeira:hover {
	background: url(../img/bt-primeira.jpg) bottom;
}
.pag .primeiraOff {
	background: url(../img/bt-primeira.jpg) center;
}
.pag .anterior {
	background: url(../img/bt-anterior.jpg) top;
}
.pag .anterior:hover {
	background: url(../img/bt-anterior.jpg) bottom;
}
.pag .anteriorOff {
	background: url(../img/bt-anterior.jpg) center;
}
.pag .proxima {
	background: url(../img/bt-proxima.jpg) top;
}
.pag .proxima:hover {
	background: url(../img/bt-proxima.jpg) bottom;
}
.pag .proximaOff {
	background: url(../img/bt-proxima.jpg) center;
}
.pag .ultima {
	background: url(../img/bt-ultima.jpg) top;
}
.pag .ultima:hover {
	background: url(../img/bt-ultima.jpg) bottom;
}
.pag .ultimaOff {
	background: url(../img/bt-ultima.jpg) center;
}
.fotos img {
	margin-bottom: 5px;
}
.fotos ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.fotos li {
	display: block;
	float: left;
	margin: 20px 0 0 20px;
	padding: 5px;
	border: 1px solid #ddd;
	width: 305px;
	text-align: center;
}
.fotos span {
	display: block;
	height: 36px;
	font-size: .9em;
	color: #666666
}
a.imprimir {
	display: block;
	height: 30px;
	margin-left: 10px;
	padding-right: 30px;
	line-height: 30px;
}
a.imprimir {
	background: url(../img/ico_imprimir.jpg) top right no-repeat;
}
a.imprimir:hover {
	background: url(../img/ico_imprimir.jpg) bottom right no-repeat;
}
#rodape {
	border-top: 10px solid #9CC251;
}
#rodape ul {
	display: block;
	margin: 10px 0;
	padding: 0;
}
#rodape p {
	margin: 5px 0;
}
#rodape .endereco {
	color: #666;
}
#rodape .copy {
	color: #999;
	font-size:.8em;
}
#rodape li {
	text-align:center;
	display:block;
	float:left;
	padding-right:10px;
	border-right:1px solid;
}
#rodape .ultimo {
	border-right:none;
}
#rodape a {
	color:#000000;
	text-decoration:none;
}
#rodape a:hover {
	text-decoration:underline;
}
#rodape .buriti, #rodape .buritinga {
	width: 50%;
	float: left;
}
