* text=auto !eol
/Constants.inc -text
/Constants_ADO.inc -text
/Controle.asp -text
/Funcoes.asp -text
/FuncoesGR.asp -text
/GR_Log.asp -text
/GeraDiretorio.asp -text
/Manut.asp -text
/Mensagem.asp -text
Modelos/Constants.inc -text
Modelos/Mod13/default.asp -text
Modelos/Mod13/default_cliente.asp -text
Modelos/Mod14/Aluno.asp -text
Modelos/Mod14/default.asp -text
Modelos/Mod14/default_cliente.asp -text
Modelos/Mod15/default.asp -text
Modelos/Mod15/default_cliente.asp -text
Modelos/Mod16/Aluno.asp -text
Modelos/Mod16/default.asp -text
Modelos/Mod16/default_cliente.asp -text
/Newsletter.asp -text
css/estilo.css -text
css/estilo01.css -text
/default.asp -text
/esc.inc -text
/escRegional.asp -text
/execsql.html -text
/global.asa -text
img/ATUALIZADO.GIF -text
img/ArrowDown.gif -text
img/ArrowRight.gif -text
img/ArrowUp.gif -text
img/BALLW.GIF -text
img/BookmarkAndPageActivecolor.gif -text
img/BookmarkAndPageInactive.gif -text
img/CE.gif -text
img/CR.gif -text
img/HTLogo.gif -text
img/HiperTools.gif -text
img/LOOKLINE.GIF -text
img/Livro.gif -text
img/MenuDefault.gif -text
img/MenuDefault.jpg -text
img/OA.gif -text
img/OD.gif -text
img/Palette.gif -text
img/Selected.gif -text
img/SheetLittle.gif -text
img/TX.GIF -text
img/UNDERC.GIF -text
img/ajuda.jpg -text
img/anteriora.gif -text
img/anteriori.gif -text
img/arrow-closed.gif -text
img/arrowb.gif -text
img/arrowg.gif -text
img/arrowr.gif -text
img/arrowy.gif -text
img/ballc.gif -text
img/breve.gif -text
img/bt_imprimir.gif -text
img/bt_voltar.gif -text
img/cabecalho.gif -text
img/fundo.jpg -text
img/fundo_container.gif -text
img/fundo_logodir.jpg -text
img/fundo_logoesq.gif -text
img/fundo_logomenuesq.gif -text
img/ico_educacao.gif -text
img/ie_animated.gif -text
img/line.gif -text
img/linha.jpg -text
img/logo.gif -text
img/logo1.gif -text
img/logoescola.gif -text
img/logoescola.jpg -text
img/mailto.gif -text
img/man.gif -text
img/mn.gif -text
img/novo.gif -text
img/ok.jpg -text
img/pixel.gif -text
img/proximoa.gif -text
img/proximoi.gif -text
img/textoa.gif -text
img/textoi.gif -text
img/undercon.gif -text
img/word.gif -text
inc/mm_menu.js -text
inc/scripts.js -text
/inputsql.asp -text
/jScript.asp -text
/results.asp -text
treinamento/default.asp -text
