@media print {

#impressora{
    display:none;
}

#campopesquisa{
    display:none;
}

body{
 size:100%;
 background-color:#fff;
 font: 30px Verdana, Arial, Helvetica, sans-serif;
 background-repeat: no-repeat;
}
}