TABLE
{
    BORDER-RIGHT: #cccccc;
    BORDER-TOP: #cccccc;
    FONT: 10px Verdana, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #cccccc;
    BORDER-BOTTOM: #cccccc;
    BACKGROUND-COLOR: #fff
}
#menu
{
    BACKGROUND-IMAGE: url(../img/background.gif)
}
#trheader
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BACKGROUND-IMAGE: url(../img/gradient.jpg);
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #fff
}
#pheader
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BACKGROUND-IMAGE: url(../img/gradient.jpg);
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #fff
}
A
{
    COLOR: #1B4F6F;
    TEXT-DECORATION: none
}

#calendario_unidade a:hover{
  FONT-WEIGHT: normal;
}
A:hover
{
    FONT-WEIGHT: bold
}
#campopesquisa
{
    BACKGROUND-IMAGE: url(../img/background.gif)
}
#dtcalendarios LI
{
    LIST-STYLE-IMAGE: url(../img/asterisco.gif)
}
#conteudo LI
{
    LIST-STYLE-IMAGE: url(../img/asterisco.gif)
}
#dtcalendarios A
{
    COLOR: #ff3737
}
#dtcalendarios A:hover
{
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}

#tbhomologacao{
  border: solid 0.03em #D5D5D5;
  padding:px;
  font-size:120%;
}
#tbhomologacao tr{
  border:0;
  margin-bottom:2px;
  margin-top:2px;
}

#tbhomologacao tr:hover{
  background-color:#D8E4F8;
}

#tbhomologacao td{
  border:0;
  border-right: solid 0.03em #E5E5E5;
}

#tbhomologacao SELECT
{
    FONT: 10px #CCC
}

BODY
{
    FONT: 10px Verdana, Arial, Helvetica, sans-serif;
    COLOR: #333333;
    BACKGROUND-REPEAT: repeat;
    BACKGROUND-COLOR: #f0f0e8
}
.fundo_menu
{
    BACKGROUND-IMAGE: url(../img/background.gif)
}
